html {
  scroll-behavior: smooth;
}

body {
  background-color: #111111;
  color: #fff;
  font-family: serif;
}

.wrapper-main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: underline dashed;
  color: red;
  cursor: pointer;

  background: linear-gradient(rgb(185,0,0,1));
  background-repeat: no-repeat;
  background-size: 0 100%;
  background-position: top;
  transition: .5s;
}

a:hover {
  color: #111;
  background-size: 100% 100%;
  font-style: italic;
}

h1 {
  text-align: center;
  font-size: 6rem;

  padding-top: 3rem;
}

h2 {
  text-align: center;
  font-size: 2.7rem;
  color: rgb(75, 66, 75);
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-word;
  line-height: 2.2rem;
  margin: 2.7rem 0;
}

.t03 {
  text-decoration: underline;
  font-size: 3.8rem;
  color: rgb(255, 94, 0);
  line-height: 6rem;
  margin: 3rem 0;

  display: flex;
  justify-content: center;
}

.texto {
  width: 80%;
  word-wrap: break-word;
  }

.sep {
  width: 20rem;
  height: 0.3rem;
  margin: 2.7rem auto;
  background-color: rgb(185,0,0);
}

.nav02 {
  width: 100%;
  margin-top: 1rem;
  z-index: 100;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 1.7rem;
  line-height: 3rem;
  grid-gap: 0.7rem;
  background-color: #111;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 5000;
}

/* MÓVEL 600px */

@media only screen and (max-width: 600px) {

  .wrapper-main {
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
  }

  h2 {
    text-align: center;
    font-size: 1.5rem;
  }

  .t03 {
    text-decoration: underline;
    font-size: 2.5rem;
    line-height: 2.7rem;
    margin: 1.5rem 0;

    display: flex;
    justify-content: center;
  }

  p {
    width: 100%;
    height: fit-content;
    font-size: 0.9rem;
    line-height: 1.7rem;
    margin: 2.7rem 0;
  }

  .texto {
    width: 120%;
  }

  .nav01 {
    font-size: 3.8rem;
    line-height: 1.8rem;
    grid-gap: 1rem;
    padding: 1rem;
  }

  .nav01_1 {
  font-size: 0.8rem;
  }

  .nav02 {
  font-size: 1.3rem;
  line-height: 1rem;
  grid-gap: 1rem;
  padding: 1rem;
  }

/* ACTUAÇÕES */

  .acts01 {
  letter-spacing: 0.9px;
  }

  .acts01 li {
  font-size: 0.7rem;
  padding: 16px 29px;

  border-left: 2px dashed red;
  border-right: 2px dashed red;
  }

}

/* MÓVEL >601px */

@media only screen and (min-width: 601px) {

  .wrapper-main {
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
  }

  h2 {
    text-align: center;
    font-size: 1.5rem;
  }

  .t03 {
    text-decoration: underline;
    font-size: 2.7rem;
    line-height: 3rem;
    margin: 1.5rem 0;

    display: flex;
    justify-content: center;
  }

  p {
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 2.7rem 0;
  }

  .texto {
    width: 120%;
  }

  .nav01 {
    font-size: 4.5rem;
    line-height: 2rem;
    grid-gap: 1rem;
    padding: 1rem;
  }

  .nav01_1 {
  font-size: 0.9rem;
  }

  .nav02 {
  font-size: 1.3rem;
  line-height: 1rem;
  grid-gap: 1rem;
  padding: 1rem;
  }

/* ACTUAÇÕES */

  .acts01 {
  letter-spacing: 0.9px;
  }

  .acts01 li {
  font-size: 1rem;
  padding: 16px 11px;

  border-left: 2px dashed red;
  border-right: 2px dashed red;
  }

}

/* MÓVEL >768 */

@media only screen and (min-width: 768px) {

  .wrapper-main {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
  }

  h2 {
    text-align: center;
    font-size: 1.5rem;
  }

  .t03 {
    text-decoration: underline;
    font-size: 2.7rem;
    line-height: 3rem;
    margin: 1.8rem 0;

    display: flex;
    justify-content: center;
  }

  p {
    width: 100%;
    font-size: 1.1rem;
    line-height: 2rem;
    margin: 2.7rem 0;
  }

.texto {
  width: 100%;
}

  .nav01 {
    font-size: 5rem;
    line-height: 2.7rem;
    grid-gap: 1rem;
    padding: 1rem;
  }

  .nav01_1 {
  font-size: 1rem;
  }

  .nav02 {
  font-size: 1.3rem;
  line-height: 1rem;
  grid-gap: 1rem;
  padding: 1rem;
  }

/* ACTUAÇÕES */

  .acts01 {
  letter-spacing: 3px;
  }

  .acts01 p {
  border-bottom-color: #111;
  margin-top: 11px;
  }

  .acts01 li {
  padding: 20px 18px;

  font-size: 1.4rem;
  padding: 16px;
  }

}

/* MÓVEL 992 */

@media only screen and (min-width: 992px) {

  .wrapper-main {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 6rem;
    font-weight: 900;
  }

  h2 {
    font-size: 2rem;
  }

  .t03 {
    font-size: 3.8rem;
    line-height: 6rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin: 2.7rem 0;
  }

  .texto {
    width: 80%;
  }

  .nav01 {
    font-size: 5.4rem;
    line-height: 2.7rem;
    grid-gap: 1rem;
    padding: 1rem;
  }

  .nav01_1 {
  font-size: 1.1rem;
  }

  .nav02 {
    display: flex;
    font-size: 1.4rem;
    line-height: 2rem;
    grid-gap: 0.7rem 6.3rem;
    background-color: #111;
  }

  /* ACTUAÇÕES */

  .acts01 {
  letter-spacing: 6px;
  }

  .acts01 p {
  border-bottom-color: #111;
  margin-top: 11px;
  }

  .acts01 li {
  font-size: 1.6rem;
  padding: 16px;
  }

}

/* MÓVEL >1200 */

@media only screen and (min-width: 1200px) {

  .wrapper-main {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 6rem;
    font-weight: 900;
  }

  h2 {
    font-size: 2.5rem;
  }

  .t03 {
    font-size: 3.8rem;
    line-height: 6rem;
  }

  p {
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 2.7rem 0;
  }

  .nav01 {
    font-size: 6rem;
    line-height: 3rem;
    grid-gap: 1rem;
    padding: 1rem;
  }

  .nav01_1 {
  font-size: 1.3rem;
  }

  .nav02 {
    display: flex;
    font-size: 1.7rem;
    line-height: 3rem;
    grid-gap: 0.7rem 6.3rem;
    background-color: #111;
  }

  /* ACTUAÇÕES */

  .acts01 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  letter-spacing: 9px;
  }

  .acts01 p {
  border-bottom-color: #111;
  margin-top: 11px;
  }

  .acts01 li {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bolder;
  border-left: 4px dashed red;
  border-right: 4px dashed red;
  padding: 20px;
  }

}
